*{
    margin: 0;
    padding: 0;
}

.btn{
    background-color:  #e2cfcf ;
}
/* navbar */
.navbar {
    font-family: 'Cormorant', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color:  #f2e2e2;
    font-size: xx-large;  
}
.logo{
    height: 70px;
}
main{
    background-color:#F2E2E2 ;
}
.formulaire{
    font-family: Playball;
    font-size: large;
}
.btn{
    font-size: large;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    font-family: Playball;
    text-align: center;
    height: 60px;
}
.icones a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}
