*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #f2e2e2;
    
}

/* navbar */
.navbar {
    font-family: 'Cormorant', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color:  #f2e2e2;
    font-size: xx-large;  
}
.nav-link:hover {
    color: #F09FA8!important; 
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    cursor: pointer;
}
.connecter{
    margin: 0;
}
.connect{
    font-size: large !important;
    display: flex;
    flex-direction: column !important;
}
.actif{
    color:  #F09FA8!important;
    border-bottom: 3px solid  #F09FA8;
    padding-bottom: 2px;  
}

.logo{
    height: 70px;
}
main{
   
    font-family: Playball;
    height: 100vh;
    font-size: large;
}
.carte{
    height: 300px;
}


/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 60px;
    font-family: Playball;
}
.icones a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}
@media screen and (max-width : 1000px) {
    .contact{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100% !important;
    }
    body{
        width: 100% !important;
    } 
}